*, ::after, ::before {
    box-sizing: border-box;
}

/* Actions */
.ripples-action {
    display: block;
    position: absolute;
    z-index: 2;
    padding: 0 !important;
    margin: 0 !important;
}
/* The element itself */
.ripples {
    position: relative;
    overflow: hidden;
}
/* Ripples content container */
.ripples-content-container {
    display: inline-block;
    position: relative;
    background-color: transparent !important;
    z-index: 3;
}

/* Custom ripples button style */
/* Bootstrap button design */
.native-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: none !important;
    border-radius: .25rem;
    transition: box-shadow .20s ease-out;
    box-shadow: 0px 2px 5px #888888;
    outline: none;
}

/* Button colours */
.native-btn-primary {
    color: #fff;
    background-color: #007bff;
}
.native-btn-secondary {
    color: #fff;
    background-color: #6c757d;
}
.native-btn-success {
    color: #fff;
    background-color: #28a745;
}
.native-btn-info {
    color: #fff;
    background-color: #17a2b8;
}
.native-btn-warning {
    color: #212529;
    background-color: #ffc107;
}
.native-btn-danger {
    color: #fff;
    background-color: #dc3545;
}
.native-btn-dark {
    color: #fff;
    background-color: #343a40;
}
.native-btn-light {
    color: #212529;
    background-color: #f8f9fa;
}




.native-btn:hover, .native-btn-primary:hover, .native-btn-secondary:hover, .native-btn-success:hover, .native-btn-info:hover, .native-btn-warning:hover, .native-btn-danger:hover, .native-btn-dark:hover, .native-btn-light:hover {
    box-shadow: 0px 4px 6px #888888;
}

.native-btn:focus, .native-btn-primary:focus, .native-btn-secondary:focus, .native-btn-success:focus, .native-btn-info:focus, .native-btn-warning:focus, .native-btn-danger:focus, .native-btn-dark:focus, .native-btn-light:focus {
    outline: none;
}

.ripples-no-padding {
    padding: 0 !important;
}